body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
}

h2 {
    color: #66BFBF;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #11999E;
}

.top-container{
    background-color: #E4F9F5;
    padding-top: 100px;
    position: relative;
}

.middle-container{

}

.bottom-container{
    
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.web {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 0px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.my-image {
    width: 200px;
    border-radius: 50%;
}

.skill-image {
    width: 25%;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
}
.cookie-image {
    width: 25%;
    border-radius: 50%;
    float: right;
    margin-left: 30px;
}


