body{
    margin: 0;
    text-align: center;
}
div{
    background-color: #EAF6F6;  
}



/* .top-container{
    width: 200px;
    height: 200px;
    background-color: #EAF6F6;
} */

.middle-container{
    width: 200px;
    height: 200px;
    background-color: red;
   
}

.bottom-container{
    width: 200px;
    height: 200px;
    background-color: blue;
    
}

.test{
    width: 50px;
    height: 50px;
    position: static;
    left: 30px;
    top: 30px;
    
}
.red{
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    top: 200px;
    left: 200px;
}
.blue{
    height: 100px;
    width: 100px;
    background-color: blue;
    position: absolute;
    top: 100px;
    left: 100px;
}
.yellow{
    height: 100px;
    width: 100px;
    background-color: yellow;
    position: fixed;
    top: 0;
    left: 0;
}
.green{
    height: 100px;
    width: 100px;
    position: relative;
    left: 300px;
    top: 300px;
}